@charset "utf-8";

* {
    text-align: left;
	
}

header {
    width: 100%;
    background-color: #F0FF06;
    background-position: 0 0%;
}
body {



}
.marggin {
    padding-left: 33px;
    padding-top: 19px;
}
.categories {
    width: 100%;
    background-color: #FAF7F7;
}
.nav-search {

}

.Suggested {
    background-image: url(url);
    background-color: #FFFFFF;
    width: 100%;
}
.Mostwanted {
    width: 100%;
}
.Pie {
    background-color: #FFD441;
    width: 100%;
}
.grid {
    height: 180px;
    background: #DAD6D6;
}


	
